<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Flights</title>
</head>
<body>
<h1>All Flights</h1>
<table>
    <thead>
    <tr>
        <th>Flight Number</th>
        <th>Operating Airlines</th>
        <th>Departure City</th>
        <th>Arrival City</th>
        <th>Date of Departure</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through all flights and display their information -->
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.flightNumber}"></td>
        <td th:text="${flight.operatingAirlines}"></td>
        <td th:text="${flight.departureCity}"></td>
        <td th:text="${flight.arrivalCity}"></td>
        <td th:text="${flight.dateOfDeparture}"></td>
        <td th:text="${flight.price}"></td>
    </tr>
    </tbody>
</table>
<a href="mot_3.html">Back to Booking</a>
</body>
</html>